@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Student is the only higher-education focused application built for the future. This end-to-end student and faculty lifecycle-information system is designed to work seamlessly with Workday Human Capital Management, Payroll, Financial Management, and Grants Management. It will unite your entire campus under one modern, configurable, easy-to-use application that is delivered in the cloud.</p>
